<div class="containerContacto">
    <form [formGroup]="form" fxLayout="column">
        <h5>Contacto</h5>

        <mat-form-field class="example-form-field">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="nombre">
            <mat-error *ngIf="nombre?.hasError('required') && (nombre?.dirty || nombre?.touched)">
                El nombre es requerido
            </mat-error>
            <mat-error *ngIf="nombre?.hasError('pattern') && (nombre?.dirty || nombre?.touched)">
                El nombre sólo debe contener letras
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-form-field">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput type="text" formControlName="correo">
            <mat-error *ngIf="correo?.hasError('required') && (correo?.dirty || correo?.touched)">
                Correo electrónico requerido
            </mat-error>
            <mat-error *ngIf="correo?.hasError('email') && (correo?.dirty || correo?.touched)">
                Correo electrónico invalido
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-form-field">
            <mat-label>Teléfono</mat-label>
            <input matInput type="text" formControlName="telefono">
            <mat-error *ngIf="telefono?.hasError('required') && (telefono?.dirty || telefono?.touched)">
                El número de telefono es requerido
            </mat-error>
            <mat-error *ngIf="telefono?.hasError('pattern') && (telefono?.dirty || telefono?.touched)">
                El número de telefono sólo debe contener números
            </mat-error>
            <mat-error *ngIf="telefono?.hasError('maxlength') && (telefono?.dirty || telefono?.touched)">
                El número de telefono debe tener 10 digitos
            </mat-error>
            <mat-error *ngIf="telefono?.hasError('minlength') && (telefono?.dirty || telefono?.touched)">
                El número de telefono debe tener 10 digitos
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-form-field">
            <mat-label>Mensaje</mat-label>
            <textarea matInput type="text" formControlName="mensaje" cols="30" rows="2"></textarea>
            <mat-error *ngIf="mensaje?.hasError('required') && (mensaje?.dirty || mensaje?.touched)">
                El mensaje es requerido
            </mat-error>
            <mat-error *ngIf="mensaje?.hasError('maxlength') && (mensaje?.dirty || mensaje?.touched)">
                El mensaje debe tener como máximo 40 caracteres
            </mat-error>
        </mat-form-field>

        <button mat-button (click)="onEnviar()">Enviar</button>
    </form>
</div>