<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="vista1">Peliculas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="contacto">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>