body{
    margin: 0;   
   }
   
   .mat-flat-button.mat-primary,
   .mat-raised-button.mat-primary,
   .mat-fab.mat-primary,
   .mat-mini-fab.mat-primary {
       color: #dbf10f !important;
   }
   
   /*LOADER*/
   .lds-circle {
       display: inline-block;
       transform: translateZ(1px);
   }
   
   .lds-circle>div {
       display: inline-block;
       width: 64px;
       height: 64px;
       margin: 8px;
       border-radius: 50%;
       background: #fff;
       animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
   }
   
   @keyframes lds-circle {
   
       0%,
       100% {
           animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
       }
   
       0% {
           transform: rotateY(0deg);
       }
   
       50% {
           transform: rotateY(1800deg);
           animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
       }
   
       100% {
           transform: rotateY(3600deg);
       }
   }
   
   .overlay{
       height: 100vh;
       width: 100%;
       background-color: rgba(0,0,0,0.5);
       z-index: 99999;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       position: fixed;
   }
   
   .overlay-child{
       z-index: 99999;
       position: absolute;
       height: 100vh;
       width: 100%;
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
   }
