<div>
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Título </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef> Año </th>
            <td mat-cell *matCellDef="let element"> {{element.year}} </td>
        </ng-container>

        <ng-container matColumnDef="cast">
            <th mat-header-cell *matHeaderCellDef> Reparto </th>
            <td mat-cell *matCellDef="let element"> {{element.cast}} </td>
        </ng-container>

        <ng-container matColumnDef="genres">
            <th mat-header-cell *matHeaderCellDef> Generos </th>
            <td mat-cell *matCellDef="let element"> {{element.genres}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20, 30, 40, 50, 100]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>